{% extends "stream.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-4 profile-image-column">
            <img src="../static/uploads/{{user.avatar}}" class="avatar" alt="avatar">
        </div>
        <div class="col-8 profile-info-column">
                <h1 class="profile-header">Hi, {{ user.username }}!</h1>
                <h2> {{user.first_name }} {{ user.last_name }}</h2>
                <h5>Tatertown, USA</h5>
                <div class="profile-left-border">
                    <p>Email: {{user.email}}</p>
                    <p>Username: {{user.username}}</p>
                    <p>Age: {{user.age}}</p>
                    <p>Skintype: {{user.skin_type}}</p>
                </div>
        </div>
    </div>
    <div class="row">
            <a class="review-btn" href="{{ url_for('update_user', username=current_user.username) }}">Edit Profile</a>
        </div>
</div>


<div class="container">
    <div class="row favorite-header-wrapper">
        <h5 class="favorite-header">Favorites</h5>
    </div> 
</div>
{% for item in list %}
    <ul class="my-fav-list" id={{ item.product_id }}>
        <li class="my-fav-list-item" id={{ item.product_id }}>
            <form action="{{ url_for('delete_fav', productid=item.product_id, userid=user.id) }}" method=post class=delete-fav>
                    <input type=hidden value="{{item.product_id}}"name=productid</input>
                    <input type=hidden value="{{ user.id }}"name=userid</input>
                    <input type=submit value="Delete" class="fav-btn"></input>
            </form>
        </li>
    </ul>

{% endfor %}

{{ super() }}

<script>
    let myListItems = [];

    $(document).ready(function(e){
        let items = $('.my-fav-list')
        let listItems = $('.my-fav-list-item')

        for (let i = 0; i < items.length; i++) {
        myListItems.push(items[i].attributes.id.value);
        }

        for(let i = 0; i < myListItems.length; i++) {
            $.ajax({
                method: 'GET',
                url: `https://stormy-castle-78446.herokuapp.com/products/${myListItems[i]}`,
                success: function (response) {
                    let favLink = $(`<a class="fav-item" href="http://localhost:8000/product/${myListItems[i]}">${response.brand} ${response.name}</a>`);

                    for (let j = 0; j < items.length; j++) {
                        if (myListItems[i] === items[j].getAttribute('id')) {
                            
                            $(listItems[j]).prepend(favLink)
                        }
                    }
                    return myListItems[i];
                },
                error: function(error) {
                console.log(error);
                }
            });
        };
    })

    $('.my-fav-list').on('click', '.fav-delete-btn', function(e){
        console.log("Delete button was clicked!")
        $.ajax({

        })
    })
</script>
{% endblock %}