<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script
  src="http://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"
></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <ul class="navbar-nav mr-auto">
        <li>
          <a class="navbar-brand" href="http://localhost:8000">Dermatic</a>
        </li>
        <li>  
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2 product-input" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0 name-search-btn" type="submit">Search</button>
          </form>
        </li>
        {% if current_user.is_authenticated %}
        <li>
          <a class="nav-link" href="{{url_for('logout')}}" title="logout">Logout</a>
        </li>
        <li>
            <a class="nav-link" href="{{ url_for('user', username=current_user.username) }}">
              <i class="fas fa-user-circle"></i> Profile
            </a>
        </li>
        {% else %}
        <li>
          <a class="nav-link" href="{{url_for('login')}}" title="login">Login</a>
        </li>
        <li>
          <a class="nav-link" href="{{url_for('register')}}" title="register">register</a>
        </li>
        {% endif %}
      </ul>
      </nav>
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>{% if current_user.is_authenticated %} Hello {{current_user.username}} {%endif%}</h1>
      </div>
    </div>
    <div class="row">
      <div class="search-results"></div>
    </div>
    </div>
    <br>
    <div class="row">
      <div class="col">
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class={{category}}>{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
      </div>
      <div class="col">
        {% block content %}{% endblock %}
      </div>
    </div>
  </div>

<script src="../static/scripts/app.js"></script>
<script>
    $('.name-search-btn').click(function(e) {
      e.preventDefault();
      $('.search-results').empty();
      let inputVal = $('.product-input').val();
      let formattedInput = inputVal.replace(/ /g, '+');
      console.log(formattedInput)
      let searchTerm = "drunk+elephant"
      $.ajax({
          method: 'GET',
          url: `https://skincare-api.herokuapp.com/product?q=${formattedInput}&limit=25&page=1`,
          success: function (response) {
              console.log(response)
              response.map(child => {
                  let productId = child.id;
                  let productLink = `<a href="http://localhost:8000/product/${productId}">${child.brand} ${child.name}</a>`;
                  let card = $(`<div class="card search-wrapper"/>`);
                  let btn = $(
                    `<input class="now-playing-button btn btn-dark btn-block" type=submit value="View Product" data-id="${productId}"></input>`
                  );
                  let url = 'https://image.tmdb.org/t/p/w500' + child.poster_path;
                  card.append(productLink)
                  $('.search-results').append(card);
                  return productId;
                });
  
  
          },
          error: function(error) {
              console.log(error);
          }
      })
  })
</script>
</body>
</html>